// В этом файле должны быть стили только для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-md;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {

  $block-name:                &;

  position: relative;
  z-index: 10;
  width: 100%;

  @media (max-width: ($menu-desktop-width - 1)) {
    position: inherit;
  }

  // первый уровень

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 72px;
    padding: 0;
    list-style: none;

    @media (max-width: ($menu-desktop-width - 1)) {
      position: absolute;
      top: 110px;
      left: 0;
      width: 100%;
      margin-left: 0;
      text-align: center;
      background: $white;
      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    @media (min-width: ($screen-md)) and (max-width: ($screen-xl)) {
      margin-left: 50px;
    }

    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    margin-right: 39px;

    &--last {
      margin-right: 0;
    }

    @media (max-width: ($screen-md - 1)) {
      margin-right: 0;
    }

    @media (min-width: ($screen-md)) and (max-width: ($screen-lg)) {
      margin-right: 19px;
    }
  }

  &__link {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 37px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $white;
    font-size: px-to-em(20);
    text-decoration: none;

    &:after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: '';
      width: 100%;
      height: 3px;
      background: $color-red;
      transition: all .3s;

      @media (max-width: $menu-desktop-width - 1) {
        display: none;
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:hover:after {
      transform: translateY(-8px);
    }

    @media (max-width: ($screen-lg)) {
      font-size: px-to-em(14);
    }

    @media (max-width: $menu-desktop-width - 1) {
      margin-top: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: px-to-em(16);
      color: $text-color;
    }

    &--lvl-2 {

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 1.2em;
      }
    }

    &--lvl-3 {

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 2.4em;
      }
    }
  }

  &__lvl {

    &--2 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
      }
    }

    &--3 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        #{$block-name}__item--show-child > &,
        #{$block-name}__item--lvl-2:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
      }
    }
  }

  &__call {
    margin-top: 30px;
    margin-left: auto;

    @media (max-width: $menu-desktop-width - 1) {
      margin-top: 10px;
    }
  }

  &__tel {
    position: relative;
    padding-left: 25px;
    font-size: px-to-em(24);
    text-decoration: none;
    color: $white;
    transition: all .4s;

    &:hover {
      color: $color-red;
    }

    &:before {
      position: absolute;
      left: 0;
      content: '';
      width: 20px;
      height: 20px;
      @include sprite($phone);

      @media (max-width: $menu-desktop-width - 1) {
        top: 6px;
        @include sprite($phone-dark);
      }
    }

    @media (max-width: ($screen-lg)) {
      font-size: px-to-em(17);
    }

    @media (max-width: $menu-desktop-width - 1) {
      padding-left: 15px;
      color: $text-color;
    }
  }

  &__btn {
    display: block;
    margin-top: 9px;
    margin-left: auto;

    @media (max-width: ($screen-md - 1)) {
      margin-top: 20px;
      margin-right: auto;
      margin-bottom: 20px;
      color: $color-red;
      border-color: $color-red;
    }
  }


  // переключатель

  &__toggler {
    margin-top: 22px;
    margin-left: auto;

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
