// В этом файле должны быть стили только для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.page-header {
  height: 100vh;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &--inner {
    height: auto;
    background: $white;
  }

  &__shadow {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
  }

  &__logo {
    margin-top: 9px;
  }

  &__title {
    margin-top: 162px;
    font-weight: 400;
    text-align: center;
    color: $white;

    @media (max-width: ($screen-md - 1)) {
      margin-top: 62px;
      font-size: px-to-em(20);
    }
  }

  &__btn {
    margin-top: 40px;
  }
}
