// В этом файле должны быть стили только для БЭМ-блока alert, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$gray-lighter:                hsl(0, 0%, 80%);
$gray-lightest:               hsl(0, 0%, 90%);
$text-color:                  hsl(0, 0%, 10%);
$line-height:                 1.375em;

$field-padding-vertical:      0.3em;
$field-padding-horizontal:    0.9em;

$border-radius:               3px;

.btn {
  box-sizing: border-box;
  display: inline-block;
  padding: $field-padding-vertical  $field-padding-horizontal;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  border-radius: $border-radius;
  border: 1px solid $gray-lighter;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-red;
    background-color: ($white);
    border-color: ($white);
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: $opacity;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--feedback {
    font-size: px-to-em(14);
    color: $white;
    background-color: transparent;
  }

  &--main {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 17px;
    padding-right: 45px;
    padding-bottom: 17px;
    padding-left: 46px;
    font-size: px-to-em(21);
    color: $white;
    background: $color-red;
    border: 1px solid transparent;
    border-bottom: 2px solid #ab071b;

    @media (max-width: ($menu-desktop-width - 1)) {
      padding-right: 15px;
      padding-left: 15px;
      font-size: px-to-em(14);
    }
  }

  &--inner {
    color: $color-red;
    border-color: $color-red;

    &:hover {
      color: $white;
      background-color: $color-red;
      border-color: $color-red;
    }
  }

  &--footer {
    color: $color-red;
    background-color: transparent;
    border: 1px solid $color-red;

    &:hover {
      color: $white;
      background: $color-red;
    }
  }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
