// В этом файле должны быть стили только для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;

  &__text {
    width: 100%;
    text-align: center;
    color: $white;

    @media (max-width: ($screen-lg)) {
      font-size: px-to-em(14);
    }
  }
}
